* {
	font-family: 'Montserrat', sans-serif;
}
li {
	list-style: none;
}
body {
	background-color: 	#A9A9A9;
}

.questions {
	width: 960px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}
.question_block {
	max-width: 75%;
	background-color: #2F4F4F;
	color:#FFFFFF;
	border:solid 2px #D3D3D3;
	margin-bottom: 20px;
	padding: 20px;
}

.question_text {
	font-size: 24px;
	padding-top: 0px;
	margin-top: 0px;
}

