* {
	font-family: 'Montserrat', sans-serif;
}
li {
	list-style: none;
}
body {
	background-color: 	#0A0A0A;
}

span {
	text-decoration: underline;
}

/*.questions {
	width: 960px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}*/
.question_block {
	max-width: 100%;
	background-color: #1A1A1A;
	color:#FFFFFF;
	border:solid 2px #D3D3D3;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 10px;
}
img	{
	border-radius: 10px;
	border:2px solid #D3D3D3;
	max-width: 100%;
	object-fit: fill;

}

.container {
	width: 100%;
	margin-bottom: 20px;
}
.col_6 img {
	padding: 0px;
}

.question_text {
	font-size: 24px;
	padding-top: 0px;
	margin-top: 0px;
}

.start_quiz {
	height: 75px;
	font-size: 24px;
	background-color: #26466D;
	color: #FFFFFF;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
}
button:hover {
	background-color: #FFFFFF;
	color: #708090;
}

h1, h3 {
	text-align: center;
	color: #FFFFFF
}
.current_score {
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: #26466D;
	color: #FFFFFF;
	border-radius: 10px;
	border: solid 2px #D3D3D3;
	padding-left: 10px;
	padding-right: 10px;
}

li {
	font-size: 18px;
}
footer {
	color: #FFFFFF;
}
.hidden {
	display: none;
}