* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
li {
	list-style: none;
}
body {
	padding: 80px;
}

.questions {
	width: 960px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}
.question_block {
	max-width: 75%;
}